.vuesaxlineararrow-right-icon28 {
  position: relative;
  width: 24px;
  height: 24px;
}
.vuesaxlineararrow-right-wrapper20 {
  position: absolute;
  top: 82px;
  left: 196px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.vuesaxlinearhome-icon9 {
  position: relative;
  width: 36px;
  height: 36px;
}
.text131 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.vuesaxlinearhome-parent7 {
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.iconoutlinedapplicationbulb9 {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconoutlinedapplicationbulb-parent7 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.frame-parent693 {
  position: absolute;
  top: 240px;
  left: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.female15-icon19 {
  position: relative;
  border-radius: 64px;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.text136 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.female15-parent17 {
  position: absolute;
  top: 60px;
  left: calc(50% - 42px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.frame-parent692 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 118px);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 216px;
}
.frame-parent691 {
  position: absolute;
  top: 0;
  left: 0;
  width: 236px;
  height: 1494px;
  font-family: Inter;
}
.title17 {
  align-self: stretch;
  height: 28px;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 4px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.tt-c17 {
  position: relative;
  font-weight: 300;
}
.tt-c-wrapper15 {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 82px;
  display: flex;
  flex-direction: row;
  padding: 4px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.cha-c-wrapper15,
.frame-parent694 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cha-c-wrapper15 {
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 4px 16px;
  align-items: center;
  color: #b8b8b8;
}
.frame-parent694 {
  align-items: flex-start;
  gap: 8px;
  z-index: 1;
  font-size: 12px;
  color: #271e4a;
}
.frame-child455 {
  position: relative;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.byewind168,
.emailgmailcom17 {
  position: relative;
  line-height: 20px;
}
.emailgmailcom17 {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}
.byewind-parent166,
.rectangle-parent261 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent261 {
  flex-direction: row;
  padding: 4px;
  gap: 8px;
}
.frame-child456 {
  position: relative;
  border-radius: 50%;
  background-color: #e3a3e0;
  width: 8px;
  height: 8px;
}
.frame-parent695 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.frame-child458 {
  position: relative;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.frame-parent696,
.frame-parent697,
.frame-parent698 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.frame-parent697,
.frame-parent698 {
  z-index: 4;
}
.frame-parent698 {
  z-index: 5;
}
.frame-parent699,
.frame-parent700,
.frame-parent701,
.frame-parent702,
.frame-parent703,
.frame-parent704 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
}
.frame-parent700,
.frame-parent701,
.frame-parent702,
.frame-parent703,
.frame-parent704 {
  z-index: 7;
}
.frame-parent701,
.frame-parent702,
.frame-parent703,
.frame-parent704 {
  z-index: 8;
}
.frame-parent702,
.frame-parent703,
.frame-parent704 {
  z-index: 9;
}
.frame-parent703,
.frame-parent704 {
  z-index: 10;
}
.frame-parent704 {
  z-index: 11;
}
.dotsthreeoutlinevertical-s-icon17 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button17,
.notifications17 {
  position: absolute;
  border-radius: 8px;
  display: none;
  box-sizing: border-box;
}
.button17 {
  margin: 0 !important;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  justify-content: center;
  z-index: 12;
}
.notifications17 {
  top: 108px;
  left: 1518px;
  background-color: rgba(255, 255, 255, 0.76);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  backdrop-filter: blur(14px);
  width: 240px;
  flex-direction: column;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  font-size: 14px;
}
.gi-nguyn4 {
  position: relative;
  font-weight: 500;
}
.gi-nguyn-vng-wrapper2,
.iconoutlinedapplicationbell-wrapper20 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.iconoutlinedapplicationbell-wrapper20 {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  padding: 8px;
  align-items: flex-start;
}
.frame-wrapper157,
.frame-wrapper158 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper158 {
  width: 1500px;
}
.frame-wrapper157 {
  position: absolute;
  top: 40px;
  left: 260px;
  font-size: 42px;
  color: #271e4a;
}
.danh-sch-nguyn6 {
  position: relative;
}
.danh-sch-nguyn-vng-xut-frame {
  align-items: flex-start;
}
.danh-sch-nguyn-vng-hin-ti-frame,
.danh-sch-nguyn-vng-xut-frame,
.frame-parent709 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.danh-sch-nguyn-vng-hin-ti-frame {
  border-bottom: 2px solid #271e4a;
  align-items: flex-start;
  font-size: 36px;
}
.frame-parent709 {
  align-items: flex-end;
  gap: 24px;
}
.y-l-phc4 {
  position: relative;
  font-size: 24px;
}
.frame-parent708 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.tn-ngnh58 {
  position: relative;
  display: inline-block;
  width: 400px;
  flex-shrink: 0;
}
.tn-ngnh-parent {
  align-self: stretch;
  background-color: #edf4fc;
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: flex-start;
  justify-content: space-between;
}
.ngn-ng-anh15 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  width: 400px;
  flex-shrink: 0;
}
.ngn-ng-anh-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-parent711 {
  padding: 0 4px;
}
.frame-parent710,
.frame-parent711 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.frame-parent707,
.frame-wrapper159,
.frame-wrapper160 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper159 {
  font-size: 20px;
}
.frame-parent707 {
  gap: 40px;
}
.thay-i-thuc-tnh-wrapper2,
.xem-kt-qu-xut-frame {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 12px 24px;
  align-items: center;
  justify-content: center;
}
.thay-i-thuc-tnh-wrapper2 {
  border: 1.5px solid #7b61ff;
}
.xem-kt-qu-xut-frame {
  background-color: #7b61ff;
  box-shadow: 0 4px 15px #7b61ff;
  color: #fff;
}
.frame-parent706,
.frame-parent712 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  font-size: 16px;
  color: #7b61ff;
}
.frame-parent706 {
  position: absolute;
  top: 127px;
  left: 260px;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1500px;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  align-items: flex-end;
  gap: 40px;
  font-size: 32px;
  color: #271e4a;
}
.group-parent8 {
  position: absolute;
  height: calc(100% - 120px);
  top: 60px;
  bottom: 60px;
  left: calc(50% - 909px);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(14px);
  width: 1800px;
  overflow: hidden;
}
.danhsachnguyenvongnganhdexuat {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 1614px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #1c1c1c;
  font-family: Kanit;
}
