.forgot-password-1-child,
.forgot-password-1-item {
  position: absolute;
  top: -235px;
  left: 934px;
  border-radius: 50%;
  background-color: #b4c4ff;
  filter: blur(500px);
  width: 769px;
  height: 769px;
}
.forgot-password-1-item {
  top: 486px;
  left: -310px;
}
.logo-icon {
  position: absolute;
  top: 42px;
  left: 89px;
  width: 73px;
  height: 33px;
}
.qun-mt-khu {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.cung-cp-email {
  margin: 0;
}
.cung-cp-email-container {
  position: relative;
  font-weight: 300;
}
.email {
  position: relative;
}
.sooyaaa334455gmailcom-wrapper {
  border-radius: 1000px;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  width: 382px;
  display: flex;
  flex-direction: row;
  padding: 16px 34px;
  align-items: flex-start;
  justify-content: flex-start;
  color: #b8b8b8;
}
.cung-cp-email-ca-ti-khon-m-parent,
.div85 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.div85 {
  align-items: flex-start;
  gap: 8px;
  text-align: left;
  font-size: 16px;
}
.cung-cp-email-ca-ti-khon-m-parent {
  align-items: center;
  gap: 16px;
}
.yu-cu-lin {
  position: relative;
  font-weight: 500;
}
.div87 {
  border-radius: 28px;
  background-color: #f4f5f6;
  width: 382px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 12px 77px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.hu-b9 {
  position: relative;
  font-weight: 500;
  color: #4a72ff;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.div86 {
  color: #8c8c8c;
}
.div86,
.frame-parent791,
.qun-mt-khu-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent791 {
  gap: 40px;
  font-size: 20px;
}
.qun-mt-khu-parent {
  position: absolute;
  top: calc(50% - 238px);
  left: calc(50% - 250.5px);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  padding: 48px 60px;
  gap: 24px;
}
.forgot-password-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  color: #271e4a;
  font-family: Kanit;
}
